// Site-wide Variables


// FONTS

$site-font-text: serif;
$site-font-header: Verdana, sans-serif;
$site-font-mono: monospace;


// COLORS

$color-light: white;
$color-dark: black;

$site-bg: $color-light;
$site-color: $color-dark;

$selection-color: mix($color-light, $color-dark, 70); // when a user highlights text this is the super duper color!


// site spacing, keep it consistant bitches

$spacing: 20px;
$spacing-double: $spacing * 2;
$spacing-quad:   $spacing * 4;
$spacing-half:   $spacing / 2;
$spacing-fourth: $spacing / 4;